Package: com.lanxin.crack
Name: Lanxin Crack
Version: 0.0.3
Architecture: iphoneos-arm64
Description: A crack for Lanxin
Maintainer: panghoo
Author: panghoo
Section: Tweaks
Depends: ellekit | mobilesubstrate
